.footer {
	background-color: $color-primary;
	padding: 64px 0 32px;
	position: relative;
	display: block;
	color: white;

	&__grid {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;

		&-item {
			max-width: 200px;

			.text {
				display: inline-block;
				
				a {
					display: inline-block;
					font-size: 19px;
					font-weight: 700;
					margin-bottom: 8px;
					transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);

					&:hover {
						color: $color-tertiary;
					}

				}

			}

			.btn {
				margin-top: 15px;
				margin-bottom: 0;
			}

		}

	}

	.logo {
		height: 130px;
		width: auto;
		display: block;

		&__text * {
			fill: white;
		}

		&__logo {
			fill: white;
		}

		svg {
			height: 130px;
			width: auto;

			#sative-logo-slash-footer { 
				animation: logopulsefooter 1.5s ease infinite;
				fill: $color-tertiary;
			}
	
			@keyframes logopulsefooter {
	
				0% {
					opacity: 0;
				}
	
				50% {
					opacity: 1;
				}
	
				100% {
					opacity: 0;
				}
	
			}

		}

	}

	.footer-menu {
		padding: 0;
		margin: 0 0 -20px 0;
		list-style: none;
		position: relative;

		li {
			flex-basis: auto;
			position: relative;
			width: auto;
			padding: 0 0 11px 0;
			z-index: 9;

			a {
				font-size: 24px;
				font-weight: 900;
				text-transform: uppercase;
				line-height: 1;
				position: relative;
				display: inline-block;
				padding: 0;
				margin: 0;
				z-index: 9999;
				transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);

				&:before,
				&:after {
					position: absolute;
					height: 24px;
					font-size: 30px;
					font-weight: 700;
					color: white;
					opacity: 0;
					top: -4px;
					transform-origin: center;
					transform: scale(0.5);
					transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);		
				}
	
				&:before {
					content: '</';
					left: 0;
				}
	
				&:after {
					content: '>';
					right: 0;
				}

				&:hover,
				&.active {
					color: $color-tertiary;	
	
					&:before,
					&:after {
						opacity: 1;
						transform: scale(1);
					}
	
					&:before {
						left: -28px;
					}
	
					&:after {
						right: -19px;		
					}
				
				}

			}

		}

	}

	.footer-socials {
		padding: 0;
		margin: 0 0 -15px 0;
		list-style: none;
		position: relative;

		li {
			position: relative;
			display: block;
			padding: 0 0 8px 0;
			margin: 0;

			a {
				display: inline-block;
				font-size: 26px;
				line-height: 1;
				padding: 0 10px;

				i {
					line-height: 1;
					display: block;
					transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
				}

				&:hover {
					color: $color-tertiary;
				}

			}

		}

	}

}